
@import "./base/base";
@import "./base/animation";
@import "./base/typography";
@import "./base/utiltity";

@import "./abstract/function";
@import "./abstract/mixins";
@import "./abstract/variable";
  
@import "./component/button";
@import "./page/home";

@import "./layout/header";
@import "./base/base";
@import "./layout/grid";
@import "./base/utiltity";
@import "./base/typography";

@import "./base/animation";
@import "./layout/footer";
@import "./layout/navigation";


@import "./component/composition.scss";
@import "./component/popup";
@import "./component//card.scss";
@import './component/features-box.scss';
@import './component/story';
@import './component/form.scss';


/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

 








