.navigation{
    &__checkbox{
     display: none;
    }
    &__button{
      background-color: white;
      height: 7rem;
      width: 7rem;
      position: fixed;
      top:6rem;
      right:6rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0,1rem 3rem rgba(black,0.5);
      cursor: pointer;
    
    }
    &__background{
     position: fixed;
     top:6rem;
     right:6.5rem;
     height: 6rem;
     width: 6rem;
     border-radius: 50%;
     background: radial-gradient($color-gray-dark-3, $color-gray-dark);
     z-index: 1000;
     transition:transform .5s;
     text-align:center;
    //  transform: scale(50);

    }
    &__nav{
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transition:all .5s;
    }
    &__list{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50% ,-50%);
       list-style: none;
    }
    &__item{
       margin: 1rem;
    } 
    &__link{
        &:link,
        &:visited{
            display: inline-block;
         font-size: 3rem;
         font-weight: 300;
         padding: 1rem 2rem;
         text-decoration: none;
         text-transform: uppercase;
         color: white;
         background: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
         background-size: 220%;
         transition: all 0.5s;

         span{
             margin-right: 1.5rem;
             display: inline-block;
         }
        }
          &:hover{
              background-position: 100%;
              color:$color-gray-dark-3;
              transform: translateX(2rem);
          }
    }
    &__checkbox:checked ~ &__background{
        transform: scale(80);
        width: 100%;
    }

    &__checkbox:checked ~ &__nav {
        width: 100%;
        opacity: 1;
    }

    &__icon{
        position: relative;
        margin-top: 3.5rem;
        margin-left: 2rem;
        &,
        &::before,
        &::after{
            width:3rem ;
            height: 2px;
            background-color: $color-gray-dark;
            display: inline-block;
        }
           &::before,
           &::after
           {
            content: "";
            position: absolute;
            left: 0;
            transition:all .5s;
           }

           &::before{top:-.8rem}
           &::after{top:.8rem}
    }

     &__button:hover &__icon::before{
         top:-1rem;
     }
      &__button:hover &__icon::after {
          top: 1rem;
      }

      &__checkbox:checked + &__button &__icon{
          background-color: transparent;
          
      }
      &__checkbox:checked+&__button &__icon::before {
          top:0;
          transform: rotate(135deg);
          
      }
      &__checkbox:checked+&__button &__icon::after {
          top:0;
         transform: rotate(-135deg);
        
         }
      }

      
    
    