$grid_width:90rem;
$querter_vertical:8rem;
$querter_horizontal:6rem;

$color-grey-dark:#f7f7f7;
$color-black:black;

$default-font-size:1.6rem;


$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-teritiary-light:#2998ff;
$color-teritiary-dark:#5643fa;

$color-gray-light:#f7f7f7;
$color-gray-dark:#777;

$color-gray-dark-3:#333;

$color-primary:#55c57a;