body {
    font-family: "Luto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    columns: #777;
}
.header-primary-main {
    display: block;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    //  @include respond(phone) {
    //      letter-spacing: 1rem;
    //      font-family: 6rem;
    //  }
}

.header-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 40rem;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    // @include respond(phone){
    //     letter-spacing: .51rem;
       
    // }
}

.heading-secondary{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    
    background-image: linear-gradient(to right bottom, rgba(23, 22, 32, 0.8), rgba(23, 22, 32, 0.8), rgba(233, 134, 13, 0.8));
     background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: .2rem;
     color: transparent;
    transition: all 2s;
     &:hover{
         transform: skewY(2deg) skewX(15deg);
         box-shadow: .5rem 1rem 2rem rgba(black,0.2)
     }
     @include respond(tab-port){
         font-size: 2.5rem;
     }
     @include respond(phone) {
         font-size: 2rem;
     }
}

.heading-teritiary{
      font-size: 1.6rem;
      font-size: 400;
      text-transform: uppercase;
     padding: 20px 20px 0 20px;
      
}
.paragraph{
    font-size: 1.6rem;
    padding: 0 20px 20px 20px;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
