.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(white,.5);
        border: none;
        border-radius: 3px solid transparent;
        display: block;
        width: 90%;
        &:focus:invalid{
            border-bottom: 3px solid red;
        }
    }
    &__input:focus{
        outline: none;
        box-shadow: o 1rem 2rem rgba(black,.1);
        border-bottom: 3px solid green;
    }
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
       display: block;
       transition: all .3s;
    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
    }
    &__radio-group{
        width: 49%;
        display: inline-block;
    }
    &__radio-input{
        display: none;
    
    }
    &__radio-label{
        font-size: 10px;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid blue;
        border-radius: 50%;
        display: block;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0rem;
        &::after{
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: blue;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}