 .popup{
    height:100vh;
    width: 100%;
    background-color: rgba(black,0.8);
    position: fixed;
    top:0;
    left:0;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5;

   
    &__close{
        &:link,
        &:visited{
            color: black;
            position: absolute;
            top:2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;

        }
        &:hover{
            color: green;
            font-size: 4rem;
        }
    }
    &__content{
        @include absCenter;
        width: 75%;
        height: 50rem;
        background-color: white;
        box-shadow: 0,2rem 4rem rgba(black,.2);
        display: table;
         opacity: 0;
         transform:translate(-50%,-50%) scale(.5);
        transition: all .4s .3s;
    }
     &:target {
         opacity: 1;
         visibility: visible;
     }

     &:target  &__content{
         opacity: 1;
          transform:translate(-50%, -50%) scale(1);
     }


    &__left{
        width: 36.533333%;
        float: left;
        display: table-cell;
    }
    &__right{
        width: 62.666666%;
        float: right;

        display: table-cell;
         vertical-align: middle;
         margin-top: 40px;
         padding-left: 20px;
    }
    &__img{
        display: block;
        width: 100%;
    }

    // &:target &__content{
    //     transform: scale(1);
    // }
}